@model TourOn.Models.CommentViewModel

@using (Html.BeginForm("CreateComment", "Account", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    <p>@Html.TextBoxFor(model => model.ApplicationUser, new { Value = @Model.ApplicationUser })</p>

    <div class="form-horizontal">
        <h4>Comment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Comment.ThumbsUp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Comment.ThumbsUp)
                    @Html.ValidationMessageFor(model => model.Comment.ThumbsUp, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment.CommentHeader, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment.CommentHeader, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment.CommentHeader, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment.CommentBody, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment.CommentBody, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment.CommentBody, "", new { @class = "text-danger" })
            </div>
        </div>


        @Html.TextBoxFor(model => model.Comment.Subject, new { Value = @Model.ApplicationUser })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*@Html.ActionLink("Submit", "CurrentUserProfile","Account")*@
               <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
