@model IEnumerable<TourOn.Models.ApplicationUser>

@{
	ViewBag.Title = "Venue List";
}

<div class="top-text row text-center">
	<h1>@ViewBag.Title</h1>
</div>

@foreach (var item in Model)
{
	<div class="row text-center list-row">
		@*<div class="col-md-2">
				<p>@Html.DisplayNameFor(model => model.Region)</p>
				<p>@Html.DisplayFor(modelItem => item.Region)</p>
			</div>*@
		<div class="col-md-4">
			<p><h1>@Html.DisplayNameFor(model => model.Name)</h1></p>
			<p><h2>@Html.DisplayFor(modelItem => item.Name)</p>
		</div>
		<div class="col-md-3">
			<p><h1>@Html.DisplayNameFor(model => model.City)</h1></p>
			<p><h2>@Html.DisplayFor(modelItem => item.Genre)</h2></p>
		</div>
		<div class="col-md-3">
			<p><h1>@Html.DisplayNameFor(model => model.City)</h1></p>
			<p><h2>@Html.DisplayFor(modelItem => item.City)</h2></p>
		</div>
		<div class="col-md-2 profile-button">
			@Html.ActionLink("View Profile", "UserProfile", new { userID = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
		</div>
	</div>
}